
<a href="/User/TaskList">Your task list</a>
<a href="/User/AddTask">Add Task</a>
<form action="/User/FindTask" method="post">
    <input type="text" name="TDescription" placeholder="Enter description" />
    <input type="submit" value="Find tasks!" />
</form>